# Python

# About Python

In [1]:
# ipynb=i python jupyter notebook

In [56]:
1+2 # (+) is called operation
    # python is a case sensatative lungauge

3

# Variable

# Q1-what are variable
# Q2-how is a variable decleared
# q3-what are the types of varible

In [4]:
a=2 # (=) is called assignment operater

In [7]:
a  # dont give any value always used naming convension is giving proper name
# a is the variable

2

In [8]:
# type of variable
type(a) # using the type we know type of variable

int

In [9]:
b=45.34 # this is a float point varible

In [10]:
b

45.34

In [11]:
type(b)

float

In [13]:
a=10 # if you used same varible then system overrigth variable

In [14]:
a

10

In [16]:
x=10,y='hello',z=True # you can not assign this type of data

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1476223550.py, line 1)

In [17]:
s="Arshan" # This is string

In [18]:
type(s)

str

# Q-4- How many type of data
Answer 4- There is a five type of data
1- string ("")
2- integer (int)
3- boolean (True,False) first letter always capital and True=1 and False=0
4- float (34.23)
5- complex (7+8j) here 7 is called real number and 8j is called imageneary number

In [19]:
b=True # bollenan variable

In [20]:
d=False # only two type of bollean data

In [30]:
type(b)

bool

In [22]:
b-d # True=0 and False =1

1

In [23]:
d-b

-1

In [25]:
a

10

In [26]:
a+b

11

In [27]:
b*d

0

In [31]:
h= 7+8j # This is a complex data

In [32]:
type(h) # adding j any number become complex number

complex

In [34]:
h # allways give in a tuple form

(7+8j)

In [35]:
# called img and real number 
h.imag

8.0

In [36]:
h.real

7.0

In [37]:
h.conjugate

# Question 1 - Write all the convention being followed whhile declaring a variable

# Answer 1 - When Declaring a variable there are some convention that are commonly used in python and other languages
- 1- Use lower case letter variable is pyton programming language are case sensitive so it is recommended to use lower case letter
- 2- Use descriptive nasmes it is important to use descriptive names that convey the purpose of the variable this make easier to read and understand your code
- 3- Avoid reserved keyword variable shoud not be named after reserved keyword in the programming langauge
- 4- Use consistent naming convention once you have established a naming convention for you variables it is important to be consistent throughghout you code this help to avoid confusion
- 5- Use meaningful abbreviation if you must use abbreavition in your variable names make sure they are meaningful Exaample- 'no' repregent number or 'max' for maximum They are convention can help make you code readable

# Question 2 - what will happend if we declare a restricted keyword as a variable?

# Answer 2 - If you are to decleare a restricted keyword as a variable in python language you will get a syntex error or a compilation error this is because reserved keyword have a special meaning in the python langauge
- For Example - In python if you try to declare a variable with name that is a reserved keyword like if elso,while,for,return etc. you will get syntex error

# Question 3- Can we actually declare a restricted keyword as a variable

# Anwer 3- yes, In python you can declare a string as a variable name by enclosing the string in backticks ('') or quotes(" ")

# Question 4- Is it possible for us to decleare " _" as a varible? if so, then write an example of it

# Answer 4- yes, Itis possible to declare '_' as a varible name in python languages has a special meaning and is commonly used as a thorwaway variable _ =10

# Question 5- Using on exampleb how the varible in python are dynamic is nature

# Answer 5- In python varible are dynamic in nature which means that they can refer to objects of different types at differnt times during the execution of a program For example

In [4]:
a=10
print(a)

10

In a example we fist declare a varivle a and assign it valu 10 then we print the value 'a' and id 10

# MCQ

# Q1-Variables in python are _____ in nature.


- Static


- Unstable


# Dynamic


- None of the above
# Explanation: In python variables are dynamic in nature, thus their type can change at runtime. This means that a variable can hold a value of one type, and then later be assigned a value of a different type.

# Q2-Which one of the following variable names is correct?


# Vari_able


- Un-stable


- Dynamic#


- while

# Explanation: While naming a variable we cannot use # or - in naming variable thus we cannot use Un-stable or Dynamic# as a variable name. Since restricted keywords cannot be used so while cannot be used as variable name. Hence, Vari_able is the correct option. To answer further questions follow the given code: x = 10 y = 20 if x>y: x+=1 y = ‘String Error’

#  To answer further questions follow the given code:

x = 10

y = 20

 

if x>y:

     x+=1

y = ‘String Error’ 


# Q3- In the above code which one of the following is variable:


- x


- v


- if


# Both x and y

# Q4-What will be the output of print(x)?


# 10


- 20


- 30


- 100

# Explanation: Here, the if statement is not executed as x<y. Thus, the output will be 10

# Q5-What will be the output of print(y)?


- 10


- 20


- 30


# ‘String Error’

# Q6- Read the following statements carefully:

(I) Local variables are defined within a function and are only accessible within that function.

(II) Global variables are defined outside of any function and can be accessed from anywhere in the program.

(III) Local variables are defined within a function and can be accessed from anywhere in the program.

(IV) Global variables are defined outside of any function and are only accessible within that function.

- From the above which of the following set of statements are correct?


- (III), (II)


- (I), (IV)


# (I), (II)


- None of the above

# Explanation: Local variables are defined within a function and are only accessible within that function, global variables are defined outside of any function and can be accessed from anywhere in the program.

# String Funcation

In [38]:
s="arshan"

In [39]:
type(s)

str

In [40]:
s1="This is my string inbuilt class"

In [42]:
s+s1

'arshanThis is my string inbuilt class'

In [47]:
s.capitalize() # capitaliza first letter

'Arshan'

In [45]:
len(s1) # len telling the length of varible including space

31

In [55]:
s.find('a') # using find you get the index of the valible
# like arshan=a=0,r=1,s=2,h=3,a=4,n=5 and also save in reverse like n=-1,a=-2,h=-3,s=-3,r=-5,a=-6
# if you swift and tab then you find dotstring of the funcation

0

In [62]:
s.find('y') # if any data not persent in varible then python give you -1'

-1

In [61]:
s.find('a') # we have two 'a' in the varible the python give you first index

0

In [66]:
s.count('a') # how many time value present in varible
# this funcation used to count the values

2

In [68]:
s1.upper() # this funcation used to upper every values

'THIS IS MY STRING INBUILT CLASS'

In [70]:
s3="AyanKhan"

In [73]:
s3.lower() # this funcation used to do lower every data
# it is create only for seeing in a cell

'ayankhan'

In [72]:
s3

'AyanKhan'

In [74]:
s3=s3.lower() # to do lower you reassign the data

In [75]:
s3

'ayankhan'

In [79]:
s1.swapcase() # this function swap values upper to lower and lower to capital

'tHIS IS MY STRING INBUILT CLASS'

In [81]:
s1.title() # this function used to do first letter upper in every string

'This Is My String Inbuilt Class'

# MCQ

# 1.Which of the following special characters are used to define a string?


- ‘ ‘


- “ “


- None of the above


# Both (a) and (b)

# Explanation: To write any value in string format both ‘ ‘ and “ “ is used. Refer the below variable to answer further questions: word = ‘Snake’

# Q2-Refer the below variable to answer further questions:

word = ‘Snake’

Here, what will be the output of print(word[3]) ?


- True


- False


# k


- ‘k’

# Explanation: When w[3] is executed then it will return ‘k’ because that is the 3rd object. Since, the print statement always convert the object into string before displaying on screen and the object is itself a string thus it will display only k.

# Q4- Suppose we need to find ‘a’ in the variable then which one is the correct method to use to find()?


# word.find(‘a’)


word.find(a)


‘a’.find(word)


a.find(word)

# Explanation: Since, the object we are finding is a string type in the variable thus we will execute word.find(‘a’).

# Q6- What will be the output for word[-2]?


# ‘k’


‘a’


Invalid syntax


None of the above

# Explanation: When a negative integer is passed the counting will start from -1 and from the back or right end of the string. Thus the output will be

# Q5-Which one of the following codes will return True after execution?


word.upper()


word.isupper()


# word.upper().isupper()


word.upper().is_upper()

# Explanation: upper() function will return all the alphabetical characters in the strings by converting them into upper case, but it won’t change the value inside the variable. Whereas, the isupper() function will check if all the alphabetical characters are in upper case and return a boolean value. Thus, word.upper().isupper() will first convert all the alphabetical characters into upper case then it will check if all the characters are in upper case then it will return True.

# String Slicing and String Indexing

In [12]:
s="Arshankhan" # forword indexing and downwords indexing starded with 0

In [2]:
s[0]

'A'

In [15]:
s[-1] # backword indexing

'n'

In [14]:
s[100] # This is not in range

IndexError: string index out of range

In [17]:
s

'Arshankhan'

In [21]:
s[0:6] # starting point and end point excluted that the reson we put one more indexing

'Arshan'

In [22]:
# Alternate data
s[0:9:2]

'Asaka'

In [26]:
s[0:100:2] # in the selecing you dont get the error

'Asaka'

In [29]:
s[0:8:-1] # you just say starting point 0 go to eigth and jump in negative that is conflict that the reson we get balacked

''

In [30]:
s[8:1:-1]

'ahknahs'

In [31]:
s[:-1]

'Arshankha'

In [33]:
s[::-1] # get wholw data in reverse

'nahknahsrA'

# Q and A

# Question 1- How can we store a quote (') as a string in a varible

In [35]:
# Answer 1- To store quote(') as a string in a varible you can use double quotes (") to enclodse the string For exanple
a= "he said, i love programing"
print(a)

he said, i love programing

# Question 2- Refer the below variable: x='a' Here,is a character type or string type varible? Support your answer with an explanation

# Answer 2- In python, both a single character and a string of character are represented using the same type of data the string Therefore,In the variable x='a' , x is a string varible containing a string character varible It is actually a string of length one so,In short the varible 'x' is a string type varible containing a single character 'a'

# Question 3- Apply the following funcation on this varible welcome to python foundation course
- 1-find()
- 2-count()
- 3-len()
- 4-concatenation

# Answer 3- Funcation Apply 1- The find() funcation is used to find the index of the fist occurrence of a substring with in a string

In [36]:
a

'he said, i love programing'

In [37]:
a.find('s')

3

In [38]:
a.count('a')

2

In [39]:
len(a)

26

In [40]:
A="Arshan"
K="Khan"

In [41]:
A

'Arshan'

In [42]:
K

'Khan'

In [43]:
result = A+ " " + K

In [44]:
result

'Arshan Khan'

# Question 4- For the varible word =panji@12256 calculate the following a- total number of aphabetes in lowercase b- total number of aphabetes in uppercase c- total number of aphabetes in string

In [45]:
w= 'panaji@12256'

In [46]:
w

'panaji@12256'

In [47]:
w.lower()

'panaji@12256'

In [54]:
w.upper()

'PANAJI@12256'

In [55]:
len(w)

12

# Qiestion 5- Write a code to store a numerical value in side a variable then convet it into string

# Answer 5- In this ,we fist store the numerical value '79' in the varible 'num' we then use the 'str' funcation to convert the numerical value to a string and store the result in the value of 'num_str' finally we print out the value of 'num'_str' to verify that the conversion was succesful

In [56]:
num='79'

In [57]:
num_str=str(num)

In [58]:
print("num is of type:",type(num), "79:",num)

num is of type: <class 'str'> 79: 79

In [59]:
print("num_str is of type:",type(num_str),"79:",num_str)

num_str is of type: <class 'str'> 79: 79

# MCQ

# Q1-What is the result of the following code snippet?

my_string = "hello world"

print(my_string[3])


"h"


 "e"


#  "l"


"o"

# Explanation: In python string, indexing starts from 0th position thus it will print the second “l”.

# 2.What is the result of the following code snippet?

my_string = "hello world"

print(my_string[2:5])


"hel"


"llo"


 "lo "


# "llo "

# Explanation: Here, the output will be from position 2 to position 4 that is “hel”.

# 3.What is the result of the following code snippet?

my_string = "hello world"

print(my_string[-3:])


"hello"


"wor"


# "rld"


"orld"

# Explanation: This will print the following position -3, -2 and -1 that is "rld".

# 4.What is the result of the following code snippet?

my_string = "hello world"

print(len(my_string))


# 11


12


10


13

# Explanation: This will print the number of elements present in the strings, that will include alphabets, numeric and special characters.

# 5.What is the result of the following code snippet?

my_string = "hello world"

print(my_string[:5])


# "hello"


 "world"


 "ello "


"hello "

# Explanation: Since, the initial position is blank then the default initial index will be 0. Thus, the slicing operation will happen from 0 to 5 index.

# List

In [62]:
l= [] # for list we used  square bracket

In [63]:
type(l)

list

In [67]:
a=[1,2,3,4,5,6,7,8,9,True,4+9j,"Arshan"] # we save any type of data

In [68]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, True, (4+9j), 'Arshan']

In [69]:
l1=['Ayan',5,45.67,True]

In [70]:
l1[2]

45.67

In [71]:
l1[3]

True

In [72]:
l1[0]

'Ayan'

In [73]:
l1[-1]

True

In [74]:
l1[100]

IndexError: list index out of range

In [77]:
l1[::-1] # tampary changes

[True, 45.67, 5, 'Ayan']

In [76]:
l1

['Ayan', 5, 45.67, True]

In [78]:
l1[1]=100

In [80]:
l1 # change data

['Ayan', 100, 45.67, True]

In [81]:
s="string"

In [83]:
s[0]='a' # we can not  change data in string

TypeError: 'str' object does not support item assignment

# mutable=change to allow data like list 
# inmultable= can not change data in string

# List Funcation

In [1]:
l=[3,4,5,54.45,"Ayan",True]

In [2]:
type(l)

list

In [3]:
l*2

[3, 4, 5, 54.45, 'Ayan', True, 3, 4, 5, 54.45, 'Ayan', True]

In [4]:
l*3

[3,
 4,
 5,
 54.45,
 'Ayan',
 True,
 3,
 4,
 5,
 54.45,
 'Ayan',
 True,
 3,
 4,
 5,
 54.45,
 'Ayan',
 True]

In [5]:
s="ayan"

In [6]:
s*3

'ayanayanayan'

In [7]:
l

[3, 4, 5, 54.45, 'Ayan', True]

In [8]:
l1=[3,4,5,6,7]

In [10]:
l+l1 # append the data

[3, 4, 5, 54.45, 'Ayan', True, 3, 4, 5, 6, 7]

In [12]:
l+2 # you can not add any int ans string it is work on list

TypeError: can only concatenate list (not "int") to list

In [13]:
len(l)

6

In [15]:
len(234) # in int not work

TypeError: object of type 'int' has no len()

In [22]:
'Ayan' in l # find in l

True

In [19]:
110 in l

False

In [21]:
max(l1)

7

In [23]:
max(l) # comparision does not work in different data types

TypeError: '>' not supported between instances of 'str' and 'float'

In [24]:
l2=['Ayan','Arshan','zara']

In [26]:
max(l2) # it comprision on string

'zara'

In [27]:
min(l2)

'Arshan'

In [28]:
l3=[True,False]

In [30]:
max(l3)

True

In [31]:
min(l3)

False

In [34]:
l2.append(45) # append in end

In [33]:
l2

['Ayan', 'Arshan', 'zara', 45]

In [37]:
l2.insert(1,55) # insert in between

In [36]:
l2

['Ayan', 55, 'Arshan', 'zara', 45, 45]

In [38]:
l2.pop() # delete one value random

45

In [39]:
l2

['Ayan', 55, 55, 'Arshan', 'zara', 45]

In [41]:
l2.pop()

45

In [42]:
l2

['Ayan', 55, 55, 'Arshan', 'zara']

In [44]:
l2.pop(2)

55

In [47]:
l2 # delete perticularly values with indexing

['Ayan', 55, 'Arshan', 'zara']

In [48]:
l2[::-1]

['zara', 'Arshan', 55, 'Ayan']

In [49]:
l2.reverse() # perpanent

In [50]:
l2

['zara', 'Arshan', 55, 'Ayan']

In [51]:
l2.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [52]:
l1

[3, 4, 5, 6, 7]

In [53]:
l4=[7,8,3,5,6,9,5,3,4,6,7]

In [54]:
l4.sort()

In [56]:
l4 # sort teh value in int

[3, 3, 4, 5, 5, 6, 6, 7, 7, 8, 9]

In [57]:
l5=['Ayan','zara','Arshan']

In [58]:
l5.sort()

In [59]:
l5

['Arshan', 'Ayan', 'zara']

In [60]:
l4

[3, 3, 4, 5, 5, 6, 6, 7, 7, 8, 9]

In [61]:
l4.sort(reverse=True)

In [63]:
l4 # sort in reverse

[9, 8, 7, 7, 6, 6, 5, 5, 4, 3, 3]

In [64]:
l6=[l1,l2]

In [65]:
l6

[[3, 4, 5, 6, 7], ['zara', 'Arshan', 55, 'Ayan']]

In [67]:
len(l6) # two list

2

In [68]:
l7=[l1,l2,l3,'Ayan',4,4545.45,True,5+6j]

In [69]:
l7

[[3, 4, 5, 6, 7],
 ['zara', 'Arshan', 55, 'Ayan'],
 [True, False],
 'Ayan',
 4,
 4545.45,
 True,
 (5+6j)]

In [71]:
l7[1][2]

55

# Q and A

# Question 1- What is the syntax for adding an element to a list in python

Answer 1- In python you can use the "append()" method of the list

In [72]:
a = [1, 2, 3, 4, 5, 6]

In [73]:
a.append(7)

In [74]:
a

[1, 2, 3, 4, 5, 6, 7]

# Question 2- What is the difference between 'remove()' and 'pop()' function in python

# Answer 2- The 'remove()' method is used to remove the fist occurrence of a specified element from a list

In [75]:
b = [1, 2, 3, 4, 5]

In [76]:
b.remove(4)

In [77]:
b

[1, 2, 3, 5]

# The'pop' method is used to remove and return an element from a specific index in a list

In [78]:
c= [6, 7, 8, 9, 0]

In [79]:
remove = c.pop(4)

In [80]:
c

[6, 7, 8, 9]

# Question 3- Write a pythin code to sort a list in descending order

Answer 3- In python, you can use the 'sort()' method of the list and set the 'reverse' parameter to 'True'

In [81]:
z= [5,8,9,3,6,1,3,0]

In [82]:
z.sort()

In [83]:
z

[0, 1, 3, 3, 5, 6, 8, 9]

In [84]:
z.sort(reverse=True)

In [85]:
z

[9, 8, 6, 5, 3, 3, 1, 0]

# Question 4- Write a python code to count the number of occurrences of an element in a list

# Answer 4- To count the number of occurrences of an element in a list in python you can used the 'count()' method of the list

In [86]:
a

[1, 2, 3, 4, 5, 6, 7]

In [88]:
a.count(3)

1

In [89]:
y =[1,2,1,4,1,8,1,9]

In [90]:
y.count(1)

4

# Question 5- Write a python code to reverce a list

# Answer 5- Tp reverse a list in python you can used the 'reverse()' method of the list

In [91]:
a

[1, 2, 3, 4, 5, 6, 7]

In [92]:
a.reverse()

In [93]:
a

[7, 6, 5, 4, 3, 2, 1]

# MCQ

# 1.Which of the following list functions in Python returns the number of times a specified element appears in the list?


append()


# count()


extend()


remove()

# 2.Which of the following list functions in Python is used to add elements of one list to another list?


append()


count()


# extend()


remove()

Explanation: The extend() function is used to add elements of one list to another list.

# 3.Which of the following list functions in Python is used to insert an element at a specified position in a list?


# insert()


remove()


sort()


pop()

# Explanation: The insert() function is used to insert an element at a specified position in a list.

# 4.Which of the following list functions in Python is used to remove the last element of a list?


append()


count()


extend()


# pop()

# Explanation: The pop() function removes the last element of a list.

# 5.Which of the following list functions in Python is used to sort a list in ascending order?


append()


count()


extend()


# sort()

# Explanation: The sort() function is used to sort a list in ascending order.

# 6.Which of the following list functions in Python is used to reverse the order of elements in a list?


append()


count()


extend()


# reverse()

# Explanation: The reverse() function is used to reverse the order of elements in a list.

# Q and A

# Question 1- Create a list and add an element to the end of the list

In [84]:
m= [1, 2, 3, 4, 5]

In [85]:
m.append(6)
print(m)

[1, 2, 3, 4, 5, 6]

# Question 2- For the above create list print the last element

In [86]:
m[-1]

6

# Question 3- Reverse the above created a list

In [87]:
m[::-1]

[6, 5, 4, 3, 2, 1]

In [88]:
m.reverse()

In [89]:
print(m)

[6, 5, 4, 3, 2, 1]

# Q5-We used the 'short()' method to sort the element in the list in accending order

In [90]:
k= [5, 2, 1, 6, 4, 3]

In [91]:
k.sort()

In [92]:
k

[1, 2, 3, 4, 5, 6]

# Question 6- create a list of you top three favorite movies the print the second movie title

In [93]:
fm= ['pathan' , 'the dark knight' , 'dangal']

In [94]:
fm[1]

'the dark knight'

# Question 7- Create a list of your favorite animals then add a new to the list and print the update list

In [95]:
fa= ['lion', 'tiger', 'elephant']

In [96]:

fa.append('rabbit')

In [97]:
fa

['lion', 'tiger', 'elephant', 'rabbit']

# Question 8- Create a list of your favorite then use the index() method to find position of a specific city on the list and print it

In [98]:
fc= ['london' , 'delhi', 'paris', 'lucknow', 'bareilly']

In [99]:
position= fc.index('paris')

In [100]:
print('index:',position)

index: 2

# MCQ

# 1.Which of the following creates an empty list in Python?


# my_list = []


my_list = ()


my_list = {}


my_list = set()

# Explanation: An empty list can be created in Python using empty square brackets.

# 2.Which method is used to add an element to the end of a list in Python?

 


add()


push()


# append()


extend()

# Explanation: The append() method is used to add an element to the end of a list in Python.

# Which method is used to remove the first occurrence of an element from a list in Python?


delete()


# remove()


 pop()


clear()

# Explanation: The remove() method is used to remove the first occurrence of an element from a list in Python.

# What is the output of the following code?

my_list = [1, 2, 3, 4] 

my_list.pop() 

print(my_list)


# [1, 2, 3]


[1, 2, 3, 4]


[2, 3, 4]


[]

# Explanation: The pop() method removes and returns the last element from the list. In this case, the last element is 4, which gets removed from the list. So the list becomes [1, 2, 3], which is printed.

# What is the output of the following code?

my_list = [1, 2, 3] 

my_list.append([4, 5]) 

print(my_list)


[1, 2, 3, 4, 5]


# [1, 2, 3, [4, 5]]


[1, 2, 3, 4], [1, 2, 3, 5]


[1, 2, 3], [4, 5]

# Explanation: The append() method adds the argument passed to it as a single element to the end of the list. In this case, the argument passed is [4, 5], which is added as a single element to the end of the list. So the resulting list is [1, 2, 3, [4, 5]].

#  What is the output of the following code?

my_list = [1, 2, 3] 

my_list.extend([4, 5]) 

print(my_list)


#  [1, 2, 3, 4, 5]


 [1, 2, 3, [4, 5]]


[1, 2, 3, 4], [1, 2, 3, 5]


[1, 2, 3], [4, 5]

# Explanation: The extend() method adds the elements of the argument passed to it to the end of the list. In this case, the argument passed is [4, 5], which has two elements, 4 and 5. So these two elements are added to the end of the list.

# Tuples

In [94]:
t=(2,3,True,45.345,'ayan') # () this bracket show tuple

In [95]:
type(t)

tuple

In [98]:
l

[3, 4, 5, 54.45, 'Ayan', True]

In [99]:
type(l)

list

In [101]:
t[4]

'ayan'

In [102]:
l[4]

'Ayan'

In [103]:
# differece between tuple and list
# 1-change data

In [110]:
t[4]="Arshan" # tuple are immutable entity

TypeError: 'tuple' object does not support item assignment

In [107]:
l[4]='Arshan'

In [111]:
l # list are mutable entity

[3, 4, 5, 54.45, 'Arshan', True]

In [112]:
list(t) # convert in list

[2, 3, True, 45.345, 'ayan']

In [113]:
t

(2, 3, True, 45.345, 'ayan')

In [114]:
tuple(l)

(3, 4, 5, 54.45, 'Arshan', True)

In [115]:
t

(2, 3, True, 45.345, 'ayan')

In [119]:
t.count(2) # how many time present in tuple

1

In [121]:
t.index('ayan') # index tell index of any varible

4

In [122]:
t1=('ayan',5,3,2,5,6,7,88,9,65,44,2,6,6,'ayan')

In [123]:
t1.count('ayan')

2

In [125]:
t1.index('ayan') # index tell first courencess

0

# Q And A

# Question 1- What is a tuple in python?

# Answer 1- A tuple is an ordered collection of element which can be of data type, tuple are similar to lists in python but tere are some key differnce is that tuple are immutable, which mean that once a tuple is created, you cannot modify its element

In [127]:
t= (1,2,3, 56.876, "arshan" , True)

In [128]:
type(t)

tuple

# Question 2- How do you create a tuple in python?

# Answer 2- You can create a tuple in python by a sequence of element in parentheses '()' and seprarating them with commas.

In [129]:
t

(1, 2, 3, 56.876, 'arshan', True)

In [130]:
t2 = ( 1,4, 77.56, "ayan")

In [131]:
type(t2)

tuple

# Question 3- What is the differnce between a tuple and a list in python?

# Answer 3- The main differnce between a tuple and a list is that tuples are immutable which list are mutable. this means that once a tuple created , you cannot change its element, while list you can modify their element after they have been created

# 1- Syntex - tuples are created using parentheses'()' while list are created using squre bracked'[]'

In [132]:
a = (1,2,3,4,5)

In [133]:
type(a)

tuple

In [134]:
l9 = [1,2,3,4,5]

In [135]:
type(l9)

list

# 2- Mutability:Tuples are immutable meaning you cannot modify their element. list are mutable meaning you cann add,remove and modify their element after thay have created

# Question 4 - Can a tuple be changed in python?

# Answer 4- NO, a tuple cannot changed in python once it has been created. Tuple are immutable which mean you can not modify a tuple

In [136]:
t

(1, 2, 3, 56.876, 'arshan', True)

# Question 5 - How do you acces element in a tuple?

# Answer 5- You can can asses element using indexing or slicing

In [137]:
t

(1, 2, 3, 56.876, 'arshan', True)

In [138]:
t[4]

'arshan'

In [139]:
t[-1]

True

In [140]:
t[2]

3

In [141]:
t[-2]

'arshan'

To access a range of element in a tuple you can use slicing notation with the stard and index separated by a colon':' the slice notation will include all element from the start index up to but not including the end index

In [142]:
t

(1, 2, 3, 56.876, 'arshan', True)

In [143]:
t[1:3]

(2, 3)

In [144]:
t[:4]

(1, 2, 3, 56.876)

In [145]:
t[2:]

(3, 56.876, 'arshan', True)

# Question 6- How do you unpack a tuple in python?

# Answer 6- Youc can unpack a tuple by assigning its individual element to seprarate varibles this allow you to easily acces each element of a tuple

In [146]:
z = (1,2,3)

In [147]:
a, b, c = z

In [148]:
a

1

In [149]:
b

2

In [150]:
c

3

you can also used ('*') operator to unpack a varible number of element into a single varible

In [151]:
g = (1,2,3,4,5)

In [152]:
a, b, *rest = g

In [153]:
a

1

In [154]:
b

2

In [155]:
rest

[3, 4, 5]

# MCQ

# 1.Which of the following is true about tuples in Python?


Tuples are mutable


# Tuples are ordered


Tuples can contain duplicate elements


Tuples can be accessed using indices and keys

# Explanation: Tuples are ordered sequences of elements, similar to lists. However, unlike lists, tuples are immutable, which means that their elements cannot be modified once they are created. Tuples can also contain duplicate elements and can be accessed using indices.

# 2.Which of the following statements is true about creating a tuple in Python?


A tuple is created using square brackets


# A tuple is created using parentheses


A tuple is created using curly braces


A tuple is created using angle brackets

 

# Explanation: To create a tuple in Python, you use parentheses around a comma-separated sequence of values.

# 3.Which of the following statements is true about accessing elements in a tuple in Python?


# Elements in a tuple are accessed using square brackets


Elements in a tuple are accessed using parentheses


Elements in a tuple are accessed using curly braces


Elements in a tuple are accessed using angle brackets

# Explanation: Just like in lists, elements in a tuple are accessed using square brackets and an index number.

# 4.Which of the following statements is true about iterating over a tuple in Python?


You cannot iterate over a tuple in Python


# You can iterate over a tuple using a for loop


You can iterate over a tuple using a while loop


You can iterate over a tuple using a do-while loop

# Explanation: You can iterate over a tuple in Python using a for loop, just like you would with a list or any other iterable object.

# 5.Which of the following statements is true about slicing a tuple in Python?


You cannot slice a tuple in Python


You can slice a tuple using a colon operator


# You can slice a tuple using square brackets and an index range


You can slice a tuple using parentheses and an index range

 

# Explanation: You can slice a tuple in Python using square brackets and an index range, just like you would with a list or any other sequence.

# 6.Which of the following statements is true about sorting a tuple in Python?


You cannot sort a tuple in Python


# You can sort a tuple using the sorted() function


You can sort a tuple using the sort() method


You can sort a tuple using the reverse() method

# Explanation: You cannot sort a tuple in place using the sort() method, since tuples are immutable. However, you can sort a tuple using the sorted() function, which returns a new sorted list.

# 7.Which of the following statements is true about adding elements to a tuple in Python?


You can add elements to a tuple using the append() method


You can add elements to a tuple using the extend() method


You can add elements to a tuple using the insert() method


# You cannot add elements to a tuple in Python

# Explanation: Tuples are immutable, which means that you cannot add or remove elements from a tuple once it is created

# Sets

In [1]:
s={}

In [2]:
type(s)

dict

In [5]:
s1={1,2,3,4,4,3,1,1,1,2,3,4.5,'ayan',True}

In [6]:
type(s1)

set

In [9]:
s1 # no duplicated data
# set remove duplicated data

{1, 2, 3, 4, 4.5, 'ayan'}

In [13]:
s2={'Ayan','ayan','ayan'}

In [14]:
s2 # case sensitive

{'Ayan', 'ayan'}

In [15]:
s2.add('arshan')

In [16]:
s2

{'Ayan', 'arshan', 'ayan'}

In [17]:
s2.pop()

'arshan'

In [18]:
s2

{'Ayan', 'ayan'}

In [20]:
s2.add([1,2,3,4,5]) # list not add in set because of immutable

TypeError: unhashable type: 'list'

In [21]:
s2.add((1,2,33,4,5))

In [23]:
s2

{(1, 2, 33, 4, 5), 'Ayan', 'ayan'}

In [25]:
s2.add({1,2,3,4,5}) # set is also not add in set

TypeError: unhashable type: 'set'

In [26]:
s2.clear() # delete the set

In [27]:
s2

set()

In [28]:
l=[1,2,3,4,5,5,4,3,2,1]

In [30]:
set(l) # remove duplicated

{1, 2, 3, 4, 5}

In [31]:
s1

{1, 2, 3, 4, 4.5, 'ayan'}

In [32]:
s1.remove(4)

In [33]:
s1

{1, 2, 3, 4.5, 'ayan'}

In [34]:
s1.discard(3)

In [35]:
s1 # bo

{1, 2, 4.5, 'ayan'}

In [36]:
s1.remove(100) # if not present then show error

KeyError: 100

In [38]:
s1.discard(100) # if not present then not show error

In [39]:
s1[0] # indexing does work bescause set save rendom data

TypeError: 'set' object is not subscriptable

# Q and A

# Question 1 - What is a set in python?

In [156]:
a = {1, 2, 3, 4, 5}

In [157]:
type(a)

set

# Question 2- How do you create a set in python?

# Answer 2- These are a few differance ways to create a set

# 1- Using curly braces{} and separating each element with a comma

In [158]:
a = {1,2,3,4,5}

# 2- Using the built-in set() funcation and passing in an iterable, such as a list or tuple

In [159]:
z=[1,2,3,45]

In [160]:
a= set(z)

In [161]:
a

{1, 2, 3, 45}

# 3- using the set() funcation with no arguments to create an empty set

a=set()

In [162]:
a

{1, 2, 3, 45}

# Question 3- How do you add element to a set in python?

# Answer 3- You can add a elenment to a set using the 'add()' method

In [164]:
b= {1,2,3,4,5,6,7,8,9}

In [165]:
b.add(0)

In [166]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# If you try to add an element that already exists in the set, it will not be added again. this because sets only contain unique elements

# Question 4- How do you remove elements from a set in python?

# Answer 4- You have three method to remove elements

# 1- Using the 'remove()' method remove the specific element from the set

In [167]:
r = {1,2,3,4,5}

In [168]:
r.remove(4)

In [169]:
r

{1, 2, 3, 5}

# 2- Using the 'discard()' method to remove the specified element from the set if it is present. if the element not present in set, it does not raise an error

In [170]:
r

{1, 2, 3, 5}

In [171]:
r.discard(3)

In [172]:
r

{1, 2, 5}

# 3- Using 'pop()' method to remove and return an arbitrary element from the set

In [173]:
r

{1, 2, 5}

In [174]:
r.pop()

1

In [175]:
r

{2, 5}

# Question 5- How do you get the length of a set in python?

# Answer 5- To get the length of a set, you can use the build- in "len()" funcation

In [176]:
g = {1,2,3,4,5}
len(g)

5

# MCQ

# 1.What is a set in Python?


An ordered collection of elements


# An unordered collection of unique elements


A collection of elements with duplicate values


A collection of elements with mixed data types

# Explanation: A set is a collection of unique and unordered elements in Python. It is defined using curly braces {} or the set() function. Sets cannot contain duplicate elements.

# 2.Which operator is used to perform set intersection in Python?


# &


|


-


^

# Explanation: The & operator is used to perform set intersection in Python. It returns a new set that contains only the elements that are present in both sets.

# 3.Which method is used to add elements to a set in Python?


append()


extend()


# add()


insert()

# Explanation: The add() method is used to add a single element to a set in Python.

# 4.Which method is used to remove elements from a set in Python?


remove()


pop()


discard()


# all of the above

# Explanation: The remove(), pop(), and discard() methods can be used to remove elements from a set in Python. The remove() method raises an error if the element does not exist in the set, while the pop() method removes a random element from the set. The discard() method removes an element from the set if it exists, but does not raise an error if the element does not exist.

# 5.Which of the following is NOT a valid set in Python?


{1, 2, 3, 4}


{1, "apple", 2.5}


# {[1, 2], (3, 4)}


set()

# Explanation: Sets can only contain hashable elements, which means that they cannot contain mutable objects like lists or dictionaries. Therefore, option C is not a valid set in Python.

# 6.Which of the following is a valid way to create an empty set in Python?


{}


# set()


{None}


None of the above

# Explanation: The set() function is used to create an empty set in Python. Using {} will create an empty dictionary, not an empty set.

# Dictnery

In [43]:
s={} # curly brases reconsised dict

In [41]:
type(s)

dict

In [45]:
s1={1,2,3,4,5}

In [46]:
s1

{1, 2, 3, 4, 5}

In [48]:
type(s1) # in both we using curly brases

set

In [49]:
d={'a':1} # always key value pair

In [50]:
d

{'a': 1}

In [51]:
d1={'name':'ayan'}

In [52]:
d1

{'name': 'ayan'}

In [54]:
d1['name'] # useing the key we get the data

'ayan'

In [57]:
d3={@2344:'ayan'} # any special case caracter does not work

SyntaxError: invalid syntax (1800437513.py, line 1)

In [62]:
d4={[1,2,3]:'ayan'} #we can't used list and set

TypeError: unhashable type: 'list'

In [61]:
d5={(1,2,3):'ayan'} #tuples work in dict

In [64]:
d6={True:'ayan'} # it is work

In [72]:
d7={'name':'ayan','name':'zara'} # key never duplicated always unique

In [73]:
d7

{'name': 'zara'}

In [74]:
d7.keys()

dict_keys(['name'])

In [75]:
d7.values()

dict_values(['zara'])

In [76]:
d7.items()

dict_items([('name', 'zara')])

# Conditionals
# If and Else

In [77]:
a=1000

In [78]:
price =400
if price<=500:
    print("i will buy")

i will buy

In [80]:
price=int(input('enter price'))
if price<=500:
    print("I wil buy")
else:
    print('i will not buy')

enter price500
I wil buy

In [83]:
price=int(input('enter a price'))
if price <100:
    print('i will buy t shirt')
elif price >500:
    print('i will buy tshirt')
else:
    print('i wont buy anything')

enter a price1000
i will buy tshirt

# Nested Condision

In [84]:
a=int(input('enter a number'))
if a>0:
    print('this number was positive')
elif a<0:
    print('this number was negative number')
else:
    print('number is zero')

enter a number-64343
this number was negative number

In [86]:
# nested mean if ka ander if in a simple form

In [89]:
a=int(input('entar a number'))
if a%2==0:
    print('number is even')
else:
    print('the number is odd')

entar a number0
number is even

In [90]:
n=int(input('entar a number'))
if n%2==0:
    if n==0:
        print('the input number is zero')
    else:
        print('number is even')
else:
    print('the number is odd')

entar a number0
the input number is zero

In [96]:
age=int(input('enter your age'))
citizen=input('are you a citizen')
voter_id=input('do you have a voter id card')
if age>18:
    if citizen=='yes':
        print('you are a citizen')
        if voter_id=='yes':
            print('you have a voter id')
        else:
            print('you dont have voter id')
    else:
        print('you are not a citizen')
else:
    print('you are eligible')

enter your age19
are you a citizenyes
do you have a voter id cardno
you are a citizen
you dont have voter id

In [6]:
# while loop
n=4
i=1
while i<n :
    print(i)
    i=i+1
else:
    print('this ia my else') # when while sussesfully compleed then else will essuated

1
2
3
this ia my else

In [8]:
# while loop
n=4
i=1
while i<n :
    print(i)
    i=i+1
    if i==3:
        break
else:
    print('this ia my else') # when while geat a break then will else doest not exsulted

1
2

In [9]:
# fool Loop

In [1]:
a="arshankhan"

In [4]:
for i in a: # i is a local variable
    print(i)

a
r
s
h
a
n
k
h
a
n

In [3]:
for i in a:
    print(i.upper())

A
R
S
H
A
N
K
H
A
N

# Exception Handling

In [6]:
print('it is a error)

SyntaxError: unterminated string literal (detected at line 1) (3782251904.py, line 1)

In [7]:
a =int(input('enter a number'))

enter a number5

In [9]:
b=7/a

In [10]:
b

1.4

In [11]:
b=int(input())

0

In [13]:
c=7/b # this is zerodivisionerror

ZeroDivisionError: division by zero

In [17]:
try:               # try is reserved key word
    a=int(input('enter a number'))
    b=7/a
    print(b)
except :
    print('this is a wrong input')

enter a number0
this is a wrong input

In [19]:
try:               # try is reserved key word
    a=int(input('enter a number'))
    b=7/a
    print(b)
except :
    print('this is a wrong input')
finally:
    print('this will be exculted always') # finally is always exculted

enter a number0
this is a wrong input
this will be exculted always

In [23]:
try:               # try is reserved key word
    a=int(input('enter a number'))
    b=7/a
    print(b)
except Exception as e:                        # exception we used for get the what is error and it is a sub class
    
    print('this is a wrong input',e)
finally:
    print('this will be exculted always')

enter a number0
this is a wrong input division by zero
this will be exculted always

In [24]:
# don't write direct except 
try:               # try is reserved key word
    a=int(input('enter a number'))
    b=7/a
    print(b)
except ValueError as e:
    print('this is a value division error')
except ZeroDivisionError as e:
    print('Zerodivision error ')
except Exception as e:                        # exception we used for get the what is error and it is a sub class
    
    print('this is a wrong input',e)
finally:
    print('this will be exculted always')

enter a number0
Zerodivision error
this will be exculted always

# Funcation

In [2]:
def test():          # funcation denoted by def
    print('this is my first funcation')

In [3]:
test()

this is my first funcation

In [4]:
def test1(a,b):
    print(a,b)

In [5]:
test1(2,3)

2 3

In [6]:
test1('ayan','khan')

ayan khan

In [7]:
test1(b='ayan',a='khan')

khan ayan

In [8]:
def test2(a):
    print(a)

In [9]:
test2('ayan')

ayan

In [10]:
test2('ayan') +'khan' # we using print that the reseon we con not concatinate

ayan

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
type(test2('ayan')) # this is notype

ayan

NoneType

In [14]:
def test3(a):
    return a

In [18]:
test3('ayan') +'khan' # dont used print only used return

'ayankhan'

In [19]:
type(test3('ayan'))

str

In [20]:
def test4(a,b,c):
    return a,b,c

In [21]:
test4('ayan','khan',52625)

('ayan', 'khan', 52625)

In [22]:
x,y,z=test4('ayan','khan',52625)

In [23]:
x

'ayan'

In [24]:
y

'khan'

In [25]:
z

52625

In [27]:
def test5(a='ayan',b=452):
    return a,b

In [28]:
test5('arshan','khan')

('arshan', 'khan')

In [34]:
def test6(l):
    """This is a funcation which take list as a input and give you all the element one by one"""
    for i in l:         # always maintain docstring 
        print(i)

In [31]:
test6([34,5,453,54,5])

[34, 5, 453, 54, 5]
[34, 5, 453, 54, 5]
[34, 5, 453, 54, 5]
[34, 5, 453, 54, 5]
[34, 5, 453, 54, 5]

In [35]:
def test7(*args):                 # (*) mean it can we obtain infinite number and args is not a key work
    return args

In [37]:
test7(1,2,3,4,5,6,7,8,9,0)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [38]:
def teat8(*ayan):      
    return ayan

In [39]:
teat8(1432,14,23,4123,4213,412234,1,243)

(1432, 14, 23, 4123, 4213, 412234, 1, 243)

In [41]:
def test9(*args,name='ayan'):
    return args , name

In [43]:
test9(1243,421,42,134,23423,name='arshsn') # always give a name

((1243, 421, 42, 134, 23423), 'arshsn')

In [46]:
def test12(**kwargs):      #(**)means always give key:value pair value
    return kwargs

In [47]:
test12(123,3412,4,4124,1)

TypeError: test12() takes 0 positional arguments but 5 were given

In [49]:
test12(name='ayan',mail_id='arshankahn3315@gmail.com') # we can give multiply argument

{'name': 'ayan', 'mail_id': 'arshankahn3315@gmail.com'}

# Lambda function

In [50]:
# lambda funcation means anomouys funcation

In [51]:
n=lambda a,b:a*b

In [52]:
n(4,5)

20

In [56]:
s=lambda a:a**2 # square

In [54]:
s(4)

16

In [57]:
v=lambda **kwargs:kwargs

In [58]:
v(a='ayan',b='344',c='545')

{'a': 'ayan', 'b': '344', 'c': '545'}

In [60]:
def test14(l):
    l1=[]
    for i in l:
        l1.append(i+2)
    return l1

In [63]:
test14([1,2,3,4,44,556,4])

[3, 4, 5, 6, 46, 558, 6]

# Generator Funcation

In [64]:
range(10)

range(0, 10)

In [65]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Fibonacci number : each number is equal to the sum of the preceding two numbers

In [69]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a              #where we used yield suppose it is a generator funcation
        a,b=b,a+b

In [67]:
test_fib(10)

In [68]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [70]:
def test_fib():
    a,b=0,1
    while True:
        
        yield a              #where we used yield suppose it is a generator funcation
        a,b=b,a+b

In [ ]:
fib=test_fib()

In [71]:
a='ayan'

In [72]:
for i in a:
    print(i)

a
y
a
n

In [73]:
next(a)

TypeError: 'str' object is not an iterator

In [76]:
s1=iter(a)

In [78]:
next(s1)

'a'

In [79]:
next(s1)

'y'

In [80]:
b=45

In [82]:
iter(45) # int is a iterable and string is itrator

TypeError: 'int' object is not iterable

In [84]:
# iterator is when we can go next next kar ka

In [83]:
# iterable we cannot go next in this

In [85]:
def count_test(n):
    count=1
    while count<n:
        yield count
        count =count+1

In [86]:
c=count_test(5)

In [87]:
for i in c:
    print(i)

1
2
3
4

# Map Funcation

In [88]:
l=[1,2,3,4,5,6]

In [89]:
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [90]:
test(l)

[1, 4, 9, 16, 25, 36]

In [91]:
def sq(x):
    return x**2

In [94]:
list(map(sq,l)) #map take two paramenter 1 is funcaion 2nd is iterable

[1, 4, 9, 16, 25, 36]

In [95]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36]

In [96]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13, 15]

In [98]:
a="arshankhan"
list(map(lambda s:s.upper(),a))

['A', 'R', 'S', 'H', 'A', 'N', 'K', 'H', 'A', 'N']

# Reduce Funcation

In [100]:
from functools import reduce

In [101]:
l=[1,2,3,4,5]

In [103]:
reduce(lambda x,y:x+y,l) #adding 2 number and again adding sum of two number and therird numbe

15

In [108]:
reduce(lambda x,y,z:x+y+z,l) # you can not give third number in here

TypeError: <lambda>() missing 1 required positional argument: 'z'

# Filter funcation

In [109]:
l

[1, 2, 3, 4, 5]

In [110]:
list(filter(lambda x:x%2==0,l))

[2, 4]

In [111]:
list(filter(lambda x:x%2!=0,l))

[1, 3, 5]

# Q and A

# Question-1-Create a python program to sort the given list of tuples based on integer value using a lambda function.

# Answer-1-

In [1]:
cricket = [('Sachin Tendulkar', 343357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
sorted_cricket = sorted(cricket, key=lambda x: x[0])

In [3]:
print(sorted_cricket)

[('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 343357), ('Virat Kohli', 24936)]

# Question-2- Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions. [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Answer-2-

In [4]:
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
squared_numbers = list(map(lambda x: x**2, l))

In [6]:
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Question-3- Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Answer-3-

In [7]:
s= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t= tuple(map(lambda x: str(x), s))

In [8]:
print(t)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Question-4-Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

# Answer-4-

In [9]:
from functools import reduce

In [10]:
n= list(range(1, 26))

In [11]:
product = reduce(lambda x, y: x * y, n)

In [12]:
print(product)

15511210043330985984000000

# Question-5- Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

# Answer-5-

In [13]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [14]:
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

In [15]:
print(filtered_numbers)

[6, 60, 90, 120]

# Question-6-Write a python program to find palindromes in the given list of strings using lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']

# Answer-6-

In [16]:
strings = ['python', 'php', 'aba', 'radar', 'level']

In [17]:
palindromes = list(filter(lambda x: x == x[::-1], strings))

In [18]:
print(palindromes)

['php', 'aba', 'radar', 'level']

# Question-1-Which keyword is used to create a function? Create a function to return a list of odd numbers in the range of 1 to 25.

# Answer-1- The keyword used to create a function is typically "def" (short for "define").

In [19]:
def odd_numbers():
    l = []
    for i in range(1, 26):
        if i % 2 != 0:
            l.append(i)
    return l

In [20]:
result = odd_numbers()

In [21]:
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

# Question-2-Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to demonstrate their use.

# Answer-2-*args and **kwargs are used to pass a variable number of arguments to a function. They allow you to create functions that can accept an arbitrary number of positional and keyword arguments, respectively.

#*args allows you to pass a variable number of positional arguments to a function.
#**kwargs allows you to pass a variable number of keyword arguments (arguments specified with names) to a function.
# Function that uses *args to sum up a variable number of arguments

In [22]:
def sum_args(*args):
    total = sum(args)
    return total

In [23]:
# Demonstrate *args
result = sum_args(1, 2, 3, 4, 5)

In [24]:
print("Sum:", result)

Sum: 15

In [25]:
# Function that uses **kwargs to display key-value pairs of arbitrary arguments
def display_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [26]:
# Demonstrate **kwargs
display_kwargs(name="Alice", age=30, city="Wonderland")

name: Alice
age: 30
city: Wonderland

# Question-3- What is an iterator in python? Name the method used to initialise the iterator object and the method used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20].

# Answer-3-, an iterator is an object that allows you to traverse through a collection of items, one at a time, without needing to know the underlying details of how the collection is implemented

# __iter__() method: This method is used to initialize the iterator object and return the iterator itself.
#__next__() method: This method is used to retrieve the next element from the iterator.
#It raises the StopIteration exception when there are no more elements to iterate over.

In [27]:
# Given list
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
# Initialize the iterator
iterator = ListIterator(my_list)
# Iterate and print the first five elements
for _ in range(5):
    print(next(iterator))
2
4
6
8
10

NameError: name 'ListIterator' is not defined

# Question-4-What is a generator function in python? Why yield keyword is used? Give an example of a generator function.

# Answer-4-A generator function in Python is a special type of function that generates values on-the-fly and returns them one at a time using the yield keyword

# The yield keyword is used in a generator function to temporarily suspend the function's execution and yield a value to the caller. The function's state is preserved, allowing it to resume execution from where it left off the next time the generator's next() method is called.

In [29]:
def even_numbers_generator(n):
    num = 0
    while num < n:
        yield num
        num += 2

In [31]:
# Create a generator object
even_generator = even_numbers_generator(10)
# Iterate over the generator to get even numbers
for even_num in even_generator:
    print(even_num)

0
2
4
6
8

# Question-5-Create a generator function for prime numbers less than 1000. Use the next() method to print the first 20 prime numbers.

# Answer-5-

In [34]:
def prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def prime_generator(limit):
    n = 2
    while n < limit:
        if prime(n):
            yield n
        n += 1

prime_gen = prime_generator(1000)
#the first 20 prime numbers
for _ in range(20):
    print(next(prime_gen))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

# Question-6-Write a python program to print the first 10 Fibonacci numbers using a while loop.

# Answer-6-

In [35]:
def test_fib():
    a,b=0,1
    while True:
        yield a
        a,b=b, a+b
fib=test_fib()
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

# Question-7-Write a List Comprehension to iterate through the given string: ‘pwskills’. Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

# Answer-7-

In [36]:
s = 'pwskills'
l = [char for char in s if char.isalpha()]

In [37]:
print(l)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

# Ques-8-Write a python program to check whether a given number is Palindrome or not using a while loop.

# Answer-8-

In [3]:
def palindrome(n):
    original_n = n
    reversed_n = 0

    while n > 0:
        digit = n % 10
        reversed_n = reversed_n * 10 + digit
        n //= 10

    return original_n == reversed_n

# Input from the user
num = int(input("Enter a n: "))

if palindrome(num):
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

Enter a n: 100
100 is not a palindrome.

# Question-9-Write a code to print odd numbers from 1 to 100 using list comprehension. Note: Use a list comprehension to create a list from 1 to 100 and use another List comprehension to filter out odd numbers.

# Answer-9-

In [39]:
numbers = [num for num in range(1, 101)]

In [40]:
# Using another list comprehension to filter out odd numbers
odd_numbers = [num for num in numbers if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# 1.What is the purpose of a function in Python?


# To break up a program into smaller, reusable pieces of code


To store data in memory


To perform a specific task or set of tasks


To control the flow of a program

# Explanation: Functions allow you to break up a program into smaller, more manageable pieces of code. Functions can be defined once and then called multiple times from different parts of a program, reducing the need for duplicate code and making it easier to maintain and modify your code.

# 2.What is the syntax for defining a function in Python?


define function_name(arguments):


function function_name(arguments):


# def function_name(arguments)


create function_name(arguments):

# Explanation: The syntax for defining a function in Python is def function_name(arguments):. The def keyword is used to declare a function, followed by the function name and any arguments in parentheses. The code in the function is indented and is executed when the function is called.

# 3.What are parameter passing in Python?


# The process of sending data to a function as input


The process of storing data in memory


The process of returning data from a function


The process of manipulating data in a function

# Explanation: Parameter passing refers to the process of sending data to a function as input. The function can then perform some operation on the data and return a result. The data can be passed as positional arguments, keyword arguments, or a combination of both.

# 4.What is the purpose of iterators in Python?


To repeat a block of code a specified number of times


To allow for efficient access to elements in a sequence one at a time


To store data in memory


To manipulate data in a function

# Explanation: Iterators in Python allow for efficient access to elements in a sequence one at a time. This allows for the creation of efficient and memory-saving loops that can process large amounts of data. Examples of sequences in Python include lists, tuples, and dictionaries.

# 5.What is a generator function in Python?


A function that generates a sequence of values


 A function that creates an iterator


A function that performs a specific task or set of tasks


# A function that breaks up a program into smaller, reusable pieces of code

# Explanation: A generator function in Python is a special type of function that generates a sequence of values. When called, it returns an iterator that can be used to iterate over the values in the sequence. Generator functions use the yield statement to return values one at a time, allowing for efficient and memory-saving processing of large amounts of data.

# 6.What is the difference between a normal function and a generator function in Python?


 Normal functions return a single value, while generator functions return an iterator


# Normal functions use the return statement, while generator functions use the yield statement


Normal functions can only be used once, while generator functions can be used multiple times


 Normal functions can only return numbers, while generator functions can return any type of data

# 1.What does the lambda function in Python do?


creates an infinite loop


creates a named function


# creates an anonymous function


None of the above

# Explanation: A lambda function is an anonymous function in Python, meaning that it is a small, one-line function that doesn't have a name. They are used to create small, throw-away functions that are used for a limited time.

# 2.What does the map function in Python do?


- returns the first element in a list


# applies a function to each element in a list and returns a list of the results


- returns the last element in a list


- None of the above

# Explanation: The map function in Python takes a function and an iterable as arguments and returns a new iterable with the function applied to each element. The result is a list of the results, which can be used for further processing.

# 3.What does the reduce function in Python do?


- applies a function to each element in a list and returns a list of the results


# applies a function cumulatively to elements of an iterable, from left to right


- returns the first element in a list


- None of the above

# Explanation: The reduce function in Python takes a function and an iterable as arguments and applies the function cumulatively to the elements of the iterable. The result is a single value, which is the final result of the reduction.

# 4.What does the filter function in Python do?


# returns a filtered list of elements that satisfy a condition


- returns the first element in a list


- returns the last element in a list


- None of the above

# Explanation: The filter function in Python takes a function and an iterable as arguments and returns a new iterable with only the elements that satisfy the condition specified by the function. The result is a filtered list of elements that satisfy the condition.

# 5.What is the output of the following code?

numbers = [1, 2, 3, 4, 5]

squared_numbers = map(lambda x: x**2, numbers)

print(list(squared_numbers))


[0, 1, 4, 9, 16]


 [2, 4, 6, 8, 10]


# [1, 4, 9, 16, 25]


None of the above

# Explanation: In this code, the map function is applied to each element in the list "numbers" using the lambda function, which squares each element. The result is a list of squared numbers, which is [1, 4, 9, 16, 25].

# 6.What is the output of the following code?

from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x*y, numbers)

print(product)


# 120


 30


15


 None of the above

# Explanation: In this code, the reduce function is applied to the list "numbers" using the lambda function, which multiplies two elements. The result is the product of all elements in the list, which is 120.

# Doc - string

In [5]:
""" this is a doc-string""" # triple cote

' this is a doc-string'

# oops

In [6]:
a=10

In [7]:
type(a)

int

# object oriantal programing Systum
- increase reuse code
- multiple people can write a code
- easy to mantain

In [8]:
# object is a instence/varible of a class

In [9]:
class test:
    pass

In [26]:
class pwskills:
    class_var='ayan'
    def welcome_msg(self):           #self is not a keyword you also can replace it,self is said is part of class
        print("welcome to pwskills")

In [27]:
p=pwskills()

In [28]:
p.welcome_msg()

welcome to pwskills

In [29]:
p.class_var

'ayan'

In [39]:
class pwskills1:
    
    def __init__(self,course,durantion,mentor):   # init is a constructer
        self.course=course
        self.durantion=durantion
        self.mentor=mentor
        
    def show_mentor(self):
        print("print mentor",self.mentor)

In [40]:
dsm=pwskills1('datascience',2,'arshan')

In [41]:
dsm.course

'datascience'

In [42]:
dsm.durantion

2

In [38]:
dsm.mentor

'arshan'

In [44]:
dsm.show_mentor()

print mentor arshan

# inhertance

In [45]:
class pwskills:
    def pwskills(self):
        print('this is mu pwskills class metnod')

In [46]:
class student(pwskills):
    pass

In [47]:
s=student()

In [49]:
s.pwskills()

this is mu pwskills class metnod

In [50]:
class mentor:
    def __init__(self,mentor_name,mentor_email_id,mentor_contact):
        self.mentor_name=mentor_name
        self.mentor_email_id=mentor_email_id
        self.mentor_contact=mentor_contact
        
    def print_mentor_details(self):
        print(self.mentor_name,self.mentor_email_id,self.mentor_contact)

In [51]:
class dsm(mentor):
    def print_dsm(self):
        print("This is my dsm class")

In [53]:
d=dsm('ayan','arshankahn3315@gmail.com',1355454)

In [54]:
d.mentor_contact

1355454

In [55]:
d.mentor_email_id

'arshankahn3315@gmail.com'

In [56]:
d.mentor_name

'ayan'

In [58]:
d.print_dsm()

This is my dsm class

In [59]:
d.print_mentor_details()

ayan arshankahn3315@gmail.com 1355454

In [60]:
class xyz:
    def test(self):
        print('this is a part of xyz class')
        
class child(xyz):
    def test(self):
        print('This is a part of child class')

In [61]:
obj_child=child()

In [63]:
obj_child.test() # jiska method aap na banaya hai ausi ko call kara ga jab funcation same ho to

This is a part of child class

In [64]:
# method overriding
class xyz:
    def test(self):
        print('this is a part of xyz class')
        
class child(xyz):
    def test(self):
        super().test()
        print('This is a part of child class')

In [65]:
obj=child()

In [66]:
obj.test()

this is a part of xyz class
This is a part of child class

In [67]:
class c1:
    def meth_c1(self):
        print('thsi si a c1')
        
class c2(c1):
    def math_c2(self):
        print('this is a part of c2')
class c3(c1):
    def math_c3(self):
        print('thsi is a part of c3')

In [68]:
obj_c2=c2()
obj_c3=c3()

In [72]:
obj_c2.math_c2()

this is a part of c2

In [74]:
obj_c2.meth_c1()

thsi si a c1

In [75]:
obj_c3.math_c3()

thsi is a part of c3

In [76]:
obj_c3.meth_c1()

thsi si a c1

In [82]:
class c1:
    def math_c1(self):
        print("THis is a part of c1")
class c2:
    def math_c2(self):
        print("this is a part of c2")
class c3(c1,c2):
    pass

In [83]:
o=c3()

In [84]:
o.math_c1()

THis is a part of c1

In [85]:
o.math_c2()

this is a part of c2

In [86]:
class c1:
    def math(self):
        print("THis is a part of c1")
class c2:
    def math(self):
        print("this is a part of c2")
class c3(c1,c2):
    pass

In [87]:
obj=c3()

In [91]:
obj.math() # phala c2 likha hi is liya,if we change orde then firt one is presesnt come

THis is a part of c1

# Question-1- Create a vehicle class with an init method having instance variables as name_of_vehicle, max_speed and average_of_vehicle.

# Answer-1- this is the vehical class i made

In [1]:
class Vehicle:
    def __init__(self, name_of_vehicle, max_speed, average_speed):
        self.name_of_vehicle = name_of_vehicle
        self.max_speed = max_speed
        self.average_speed = average_speed

In [2]:
car = Vehicle("Car", 160, 80)
bike = Vehicle("Bike", 120, 40)

In [3]:
print(f"{car.name_of_vehicle} has a max speed of {car.max_speed} km/h.")
print(f"{bike.name_of_vehicle} has an average speed of {bike.average_speed} km/h.")

Car has a max speed of 160 km/h.
Bike has an average speed of 40 km/h.

# Question-2- Create a child class car from the vehicle class created in Que 1, which will inherit the vehicle class. Create a method named seating_capacity which takes capacity as an argument and returns the name of the vehicle and its seating capacity.

# Answer-2- This question is link with first Question

In [4]:
class Vehicle:
    def __init__(self, name_of_vehicle, max_speed, average_speed):
        self.name_of_vehicle = name_of_vehicle
        self.max_speed = max_speed
        self.average_speed = average_speed

class Child_class(Vehicle):
    def seating_capacity(self, capacity):
        return f"{self.name_of_vehicle} has a seating capacity of {capacity} people."

In [5]:
child_class = Child_class("Sedan", 180, 60)
print(f"{child_class.name_of_vehicle} has a max speed of {car.max_speed} km/h.")

Sedan has a max speed of 160 km/h.

In [6]:
capacity = 5
print(child_class.seating_capacity(capacity))

Sedan has a seating capacity of 5 people.

# Question-3- What is multiple inheritance? Write a python code to demonstrate multiple inheritance.

# Answer-3-Multiple inheritance is a feature in object-oriented programming languages that allows a class to inherit attributes and methods from more than one parent class

In [7]:
class Vehicle:
    def __init__(self, name, max_speed):
        self.name = name
        self.max_speed = max_speed

    def display_info(self):
        print(f"This is a {self.name} with a max speed of {self.max_speed}.")

class Electric:
    def __init__(self, battery_capacity):
        self.battery_capacity = battery_capacity

    def display_battery(self):
        print(f"This vehicle has a battery capacity of {self.battery_capacity} kWh.")

class HybridCar(Vehicle, Electric):
    def __init__(self, name, max_speed, battery_capacity, fuel_type):
        Vehicle.__init__(self, name, max_speed)
        Electric.__init__(self, battery_capacity)
        self.fuel_type = fuel_type

    def display_info(self):
        super().display_info()
        print(f"It is a hybrid car with {self.fuel_type} fuel.")

In [8]:
hybrid_car = HybridCar("Hybrid Sedan", 160, 30, "Petrol/Electric")
hybrid_car.display_info()

This is a Hybrid Sedan with a max speed of 160.
It is a hybrid car with Petrol/Electric fuel.

In [9]:
hybrid_car.display_battery()

This vehicle has a battery capacity of 30 kWh.

# Question-4- What are getter and setter in python? Create a class and create a getter and a setter method in this class.

# Answer-4- In Python, getters and setters are methods that are used to access and modify the attributes (instance variables) of a class. They provide a controlled way to read and write the values of private attributes. Getters are used to retrieve the values of attributes, while setters are used to set or modify the values of attributes. This can be useful for encapsulation and maintaining data integrity within a class.

In [10]:
class Student:
    def __init__(self, name, age):
        self._name = name  
        self._age = age    

    def get_name(self):
        return self._name

    def set_name(self, new_name):
        self._name = new_name

    def get_age(self):
        return self._age

    def set_age(self, new_age):
        if new_age >= 0:
            self._age = new_age
        else:
            print("Age cannot be negative.")

In [11]:
student = Student("Arshan khan", 20)
print("Student name:", student.get_name())
print("Student age:", student.get_age())

Student name: Arshan khan
Student age: 20

In [12]:
student.set_name("Arshan")
student.set_age(22)

In [13]:
print("Modified student name:", student.get_name())
print("Modified student age:", student.get_age())

Modified student name: Arshan
Modified student age: 22

# Question-5- What is method overriding in python? Write a python code to demonstrate method overriding.

# Answer-5-Method overriding in Python refers to the ability of a subclass to provide a specific implementation for a method that is already defined in its superclass. This allows the subclass to modify or extend the behavior of the inherited method while keeping the same method signature (name and parameters)

In [15]:
class Animal:
    def speak(self):
        return "Animal speaks something"

class Dog(Animal):
    def speak(self):
        return "Woof woof!"

class Cat(Animal):
    def speak(self):
        return "Meow meow!"

In [16]:
dog = Dog()
cat = Cat()

In [17]:
print(dog.speak())

Woof woof!

In [18]:
print(cat.speak())

Meow meow!

# Polymorphism

In [92]:
# same person with multiple persanlity

In [93]:
def test(a,c):
    return a+c

In [94]:
test(1,4)

5

In [96]:
test('ayan','khan') # concaination

'ayankhan'

In [103]:
class dsm:
    def test(self):
        print('this is dsm')
class web_dev():
    def test(self):
        print('this is my test')
def test_meth(x):
    x.test()

In [104]:
obj_dsm=dsm()
obj_web_dev=web_dev()

In [105]:
test_meth(obj_dsm)

this is dsm

In [106]:
test_meth(obj_web_dev)

this is my test

# Public,private method

In [107]:
# privae means you can not acees out of the class
# public mesans you can asses in the class or also access child class

In [114]:
class mentor:
    class_var=10
    def __init__(self,mentor_name,mentor_email_id,mentor_contact):
        self._mentor_name=mentor_name         # singal (-) protactive
        self.__mentor_email_id=mentor_email_id   # privated(__)
        self.mentor_contact=mentor_contact
        
    def print_mentor_details(self):
        print(self.mentor_name,self.mentor_email_id,self.mentor_contact)

In [115]:
obj_mentor=mentor('ayan','arshankhan@gmail.com',3245412)

In [116]:
obj_mentor.mentor_name

AttributeError: 'mentor' object has no attribute 'mentor_name'

In [117]:
obj_mentor._mentor_name

'ayan'

In [118]:
obj_mentor.__mentor_email_id

AttributeError: 'mentor' object has no attribute '__mentor_email_id'

In [119]:
obj_mentor._mentor__mentor_email_id

'arshankhan@gmail.com'

# Abstraction

In [120]:
from abc import ABC , abstractmethod,abstractproperty

In [122]:
# abstraction make skeletion

In [128]:
class pwskills(ABC):
    @abstractproperty
    def dsm_class(self):
        pass
    @abstractproperty
    def mentor_name(self):
        pass
    @abstractproperty
    def class_timing(self):
        pass
    @abstractproperty
    def class_material(self):
        pass

In [129]:
class pwskills_mentor(pwskills):
    @property
    def dsm_class(self):
        print('This is a fun of dsm class')
        
    @property
    def mentor_name(self):
        print('this is my mentor name')
        
    @property
    def class_timing(self):
        pass
    @property
    def class_material(self):
        pass

In [130]:
obj_pwskills_mentor=pwskills_mentor()

In [132]:
obj_pwskills_mentor.dsm_class

This is a fun of dsm class

# Encapsulation

In [133]:
class test:
    def __init__(self,a,b):
        self.a=a
        self.b=b

In [134]:
t=test(34,34)

In [135]:
t.a

34

In [137]:
t.b=546

In [138]:
t.b

546

In [139]:
# stop changeing data bu using encapulation turn private

In [146]:
class car:
    def __init__(self,year,make,model,speed):
        self.__year=year
        self.__make=make
        self.__model=model
        self.speed=0
        
    def set_speed(self,speed):
        self.__speed=0 if speed<0 else speed
        
    def get_speed(self):
        return self.__speed

In [147]:
c=car(202,'adf','innova',34)

In [150]:
c.speed

0

In [151]:
c.year()

AttributeError: 'car' object has no attribute 'year'

In [154]:
c.set_speed(344)

In [156]:
c.get_speed()

344

In [157]:
class bank_account:
    def __init__(self,balance):
        self.__balance=balance
        
    def deopsit(self,amount):
        self.__balance=self.__balance+amount
    def withdraw(self,amount):
        if self.__balance>=amount:
            self.__balance=self.__balance-amount
            return True
        else:
            return False
        
    def get_balance(self):
        return self.__balance

In [159]:
ayan=bank_account(1000)

In [160]:
ayan.get_balance()

1000

In [161]:
ayan.deopsit(500)

In [162]:
ayan.get_balance()

1500

In [163]:
ayan.withdraw(500)

True

In [164]:
ayan.get_balance()

1000

# Question-1-Explain Class and Object with respect to Object-Oriented Programming. Give a suitable example.

# Answer-1-In Object-Oriented Programming (OOP), classes and objects are fundamental concepts that facilitate the organization and structure of code by promoting modularity, reusability, and encapsulation. They help model real-world entities and their interactions within a program.

# Class: A class is a blueprint or a template for creating objects. It defines the attributes (data members) and behaviors (methods) that the objects created from the class will have. Think of a class as a general category that defines the properties and actions that a particular type of object can have

# Object: An object is an instance of a class. It is a concrete, tangible entity that possesses the attributes and behaviors defined in its class

In [19]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.is_engine_on = False
        self.speed = 0

    def start_engine(self):
        self.is_engine_on = True
        print("Engine started")

    def accelerate(self, speed):
        if self.is_engine_on:
            self.speed += speed
            print(f"Accelerating to {self.speed} km/h")
        else:
            print("Engine is off. Cannot accelerate.")

    def brake(self):
        if self.speed > 0:
            self.speed = 0
            print("Car stopped")
        else:
            print("Car is already stationary")

In [20]:
car1 = Car("Toyota", "fortuner", 2023)
car2 = Car("Tesla", "Model S", 2023)

In [21]:
car1.start_engine()

Engine started

In [22]:
car1.accelerate(50)

Accelerating to 50 km/h

In [23]:
car1.brake()

Car stopped

In [24]:
car2.start_engine()

Engine started

In [25]:
car2.accelerate(70)

Accelerating to 70 km/h

# Question-2- Name the four pillars of OOPs.

# Answer-2- 

# (1)-Encapsulation: Encapsulation refers to the bundling of data (attributes) and methods (functions) that operate on that data into a single unit, known as a class. It involves restricting direct access to some of an object's components and providing controlled access through methods

# (2)-Abstraction: Abstraction involves simplifying complex reality by modeling classes based on their essential characteristics. It allows you to create a representation of an object that includes only the relevant attributes and behaviors, abstracting away unnecessary details.

# (3)-Inheritance: Inheritance enables the creation of a new class (subclass or derived class) that inherits attributes and behaviors from an existing class (superclass or base class). This promotes code reuse and allows you to model relationships between classes, capturing the "is-a" relationship

# (4)-Polymorphism: Polymorphism allows objects of different classes to be treated as objects of a common superclass. It involves the ability to present the same interface for different data types or classes. Polymorphism is achieved through method overriding and method overloading

# Question-(3)- Explain why the init() function is used. Give a suitable example.

# Answer-3-The init() function is a special method (also known as a constructor) in Python that is automatically called when an instance of a class is created. It initializes the attributes of the object and performs any necessary setup operations. The primary purpose of the init() function is to ensure that the object is properly initialized and in a valid state when it's created.

In [26]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hi, my name is {self.name}, and I am {self.age} years old.")

In [27]:
person1 = Person("Ayan", 25)
person2 = Person("Arshan", 30)

In [28]:
person1.introduce()

Hi, my name is Ayan, and I am 25 years old.

In [29]:
person2.introduce()

Hi, my name is Arshan, and I am 30 years old.

# Question-4-Why self is used in OOPs?

# Answer-4-In Object-Oriented Programming (OOP), self is a convention used to refer to the instance of a class within the class methods. It's a way to access and work with the attributes and methods of the instance itself. The use of self is crucial for maintaining the encapsulation and proper functioning of object-oriented code.

In [30]:
class pwskills:
    def __init__(self, course):
        self.course = course

    def name(self):
        return  self.course

In [31]:
pwskills1 = pwskills("data science")
# Calling the area() method
print("data sciecce:", pwskills1.name())

data sciecce: data science

# Question-5- What is inheritance? Give an example for each type of inheritance.

# Answer-5-Inheritance is a fundamental concept in Object-Oriented Programming (OOP) that allows a new class (subclass or derived class) to inherit properties (attributes and methods) from an existing class (superclass or base class). Inheritance promotes code reuse and allows you to model relationships between classes, capturing the "is-a" relationship.

In [32]:
#singal inheritance
class Animal:
    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"

In [33]:
Animal.mro()

[__main__.Animal, object]

In [34]:
Animal.speak

In [35]:
#multiple inhertence
class Vehicle:
    def start(self):
        pass

class Car(Vehicle):
    def drive(self):
        pass

class ElectricCar(Car):
    def charge(self):
        pass

In [36]:
vehicle = Vehicle()
car = Car()
electric_car = ElectricCar()

In [37]:
vehicle.start()

In [38]:
car.start()

In [39]:
car.drive()

In [41]:
electric_car.start()   
electric_car.drive()    
electric_car.charge()

# Decorators

In [168]:
def test():
    print('this is start of the funcation')
    print("This is my funcation to test")
    print('this is end of the funcation')

In [169]:
test()

this is start of the funcation
This is my funcation to test
this is end of the funcation

In [167]:
# every time tell start and end

In [170]:
def deco(func):
    def inner_doc():
        print('this is the start of the funcation')
        func()
        print('this is the end of the funcation')
    return inner_doc

In [171]:
@deco
def test1():
    print(34+465)

In [172]:
test1()

this is the start of the funcation
499
this is the end of the funcation

In [173]:
import time

def timer_test(func):
    def timer_test_inner():
        start=time.time()
        func()
        end=time.time()
        print(end-start)
    return timer_test_inner

In [174]:
def test2():
    print(34+45)

In [175]:
@timer_test
def test2():
    print(43+3423)

In [177]:
test2()

3466
0.0

In [178]:
@timer_test
def test():
    for i in range(100000000):
        pass

In [179]:
test()

4.292406320571899

# Class Method

In [1]:
class pwskills:
    def __init__(self,name,email):
        self.name=name
        self.email=email
        
    def student_details(self):
        print(self.name,self.email)

In [2]:
pw=pwskills('ayan','ayan@gmail.com')

In [3]:
pw.email

'ayan@gmail.com'

In [4]:
pw.name

'ayan'

In [5]:
pw.student_details()

ayan ayan@gmail.com

In [6]:
# this thing in a deiiferent way

In [7]:
class pwskills1:
    def __init__(self,name,email):
        self.name=name
        self.email=email
    
    @classmethod                    # using this you also pass the data
    def details(cls,name,email):
        return cls(name,email)
        
    def student_details(self):
        print(self.name,self.email)

In [8]:
pwskills1.details('ayan','ayan@gmail.com')

In [9]:
pw1=pwskills1.details('ayan','ayan@gmail.com')

In [10]:
pw1.name

'ayan'

In [13]:
pw1.student_details() # we will without createn object we able to pass data to a class
# i able to asscess it

ayan ayan@gmail.com

In [29]:
class pwskills2:
    mobile_num=41344564252534534    #this is called class veriable
    def __init__(self,name,email):
        self.name=name
        self.email=email
    
    @classmethod
    def change_number(cls,mobile):
        pwskills2.mobile_num=mobile
    
    @classmethod                    # using this you also pass the data
    def details(cls,name,email):
        return cls(name,email)
        
    def student_details(self):
        print(self.name,self.email,pwskills2.mobile_num)

In [30]:
pwskills2.mobile_num

41344564252534534

In [31]:
# this to able ti access in a class method

In [32]:
pwskills2.change_number(45517265451483255472365476)

In [33]:
pwskills2.mobile_num

45517265451483255472365476

In [34]:
pw_obj=pwskills2('ayan','ayan@gmail.com')

In [35]:
pw_obj.student_details()

ayan ayan@gmail.com 45517265451483255472365476

In [36]:
# we are able overload

In [37]:
class pwskills3:
    mobile_num=41344564252534534    #this is called class veriable
    def __init__(self,name,email):
        self.name=name
        self.email=email
    
    @classmethod
    def change_number(cls,mobile):
        pwskills2.mobile_num=mobile
    
    @classmethod                    # using this you also pass the data
    def details(cls,name,email):
        return cls(name,email)
        
    def student_details(self):
        print(self.name,self.email,pwskills2.mobile_num)

In [39]:
# external funcaton
def course_details(cls,course_name):
    print("course name is",course_name)

In [40]:
pwskills3.course_details=classmethod(course_details)

In [41]:
pwskills3.course_details('data science')

course name is data science

In [42]:
def mentor(cls,list_of_mentor):
    print(list_of_mentor)

In [43]:
pwskills3.mentor=classmethod(mentor)

In [44]:
pwskills3.mentor(['ayan','arshan'])

['ayan', 'arshan']

In [45]:
class pwskills4:
    mobile_num=41344564252534534    #this is called class veriable
    def __init__(self,name,email):
        self.name=name
        self.email=email
    
    @classmethod
    def change_number(cls,mobile):
        pwskills2.mobile_num=mobile
    
    @classmethod                    # using this you also pass the data
    def details(cls,name,email):
        return cls(name,email)
        
    def student_details(self):
        print(self.name,self.email,pwskills2.mobile_num)

In [46]:
# delete a funcation
del pwskills4.change_number  #know this is delete

In [47]:
pwskills4.change_number

AttributeError: type object 'pwskills4' has no attribute 'change_number'

In [49]:
# anoter way to delete
delattr(pwskills4,'details')

In [50]:
delattr(pwskills4,'student_details')

In [51]:
delattr(pwskills4,'mobile_num')

# Static method

In [52]:
class pwskills:
    def student_details(self,name,mail_id,number):
        print(name,mail_id,number)

In [53]:
pw=pwskills()

In [54]:
pw.student_details('ayan','arshan@gmail.com',234345)

ayan arshan@gmail.com 234345

In [59]:
class pwskills1:
    def student_details(self,name,mail_id,number):
        print(name,mail_id,number)
        
    @staticmethod                    # this is used when we create even a utilities like jab baar baar koi function bana ho
    def mentor_class(list_mentor):
        print(list_mentor)
        
    def mentor(self,mentor_list):
        print(mentor_list)

In [60]:
pwskills1.mentor_class(['ayan','arshan'])

['ayan', 'arshan']

In [69]:
class pwskills2:
    def student_details(self,name,mail_id,number):
        print(name,mail_id,number)
        
    @staticmethod
    def mentor_mail_id(mail_id_mentor):
        print(mail_id_mentor)
        
    @staticmethod                    # this is used when we create even a utilities like jab baar baar koi function bana ho
    def mentor_class(list_mentor):
        pwskills2.mentor_mail_id(['arshan@gmail.com','ayan@gmail.com'])  #calling static fun in side the staticmentod
        print(list_mentor)
        
    @classmethod
    def class_name(cls):
        cls.mentor_class(['ayan','arshan'])
        
    def mentor(self,mentor_list):
        print(mentor_list)
        self.mentor_class(['ayan','arshan'])                #instance method ka under stsatic mentor calling

In [70]:
pwskills2.class_name()

['arshan@gmail.com', 'ayan@gmail.com']
['ayan', 'arshan']

In [71]:
pwskills2.mentor_class(['ayan','arshan'])

['arshan@gmail.com', 'ayan@gmail.com']
['ayan', 'arshan']

In [73]:
pwskills2.mentor(['ayan','arshan'])

TypeError: pwskills2.mentor() missing 1 required positional argument: 'mentor_list'

# special magic or dunder funcation

In [74]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [75]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [76]:
a=100

In [77]:
a+5

105

In [79]:
a.__add__(5) #funcation internally do this

105

In [89]:
class pwskills:
    
    def __new__(cls):
        print('this is my new')
    def __init__(self):
        self.mobile_number=324353
        
    def __str__(self):
        return 'this is my magic function'

In [90]:
pw=pwskills()

this is my new

In [91]:
pw1

# property decorater

In [110]:
class pwskills:
    def __init__(self,course_price,course_name):
        self.__course_price=course_price
        self.course_name=course_name
    @property    # this fun used to get access 
    def course_price_access(self):
        return self.__course_price
    
    @course_price_access.setter                # modeifey
    def course_price_set(self,price):
        if price<=300:
            pass
        else:
            self.__course_price=price
        
    @course_price_access.deleter
    def delete_course_price(self):
        del self.__course_price

In [111]:
pw=pwskills(2344,'data science')

In [112]:
pw._pwskills__course_price

2344

In [113]:
pw.course_name

'data science'

In [114]:
pw.course_price_access # we are able to through this method

2344

In [115]:
pw.delete_course_price

2344

In [116]:
# del pw.delete_course_price

# Question-1- What is Abstraction in OOps? Explain with an example.

# Answer-1-Abstraction is a core concept in Object-Oriented Programming (OOP) that involves simplifying complex reality by modeling classes based on their essential characteristics. It allows you to create a representation of an object that includes only the relevant attributes and behaviors, abstracting away unnecessary details

In [42]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

In [43]:
circle = Circle(5)
rectangle = Rectangle(4, 6)

In [44]:
circle.area()

78.5

In [45]:
circle.radius

5

# Question-2- Differentiate between Abstraction and Encapsulation. Explain with an example.

# Answer-2-Abstraction involves simplifying complex reality by modeling classes based on their essential characteristics. It allows you to create a representation of an object that includes only the relevant attributes and behaviors, abstracting away unnecessary details.

# Encapsulation involves bundling data (attributes) and methods (functions) that operate on that data into a single unit (class). It restricts direct access to some components of an object and provides controlled access through methods, maintaining data integrity and preventing unintended modifications.

In [46]:
class Account:
    def __init__(self, account_number, initial_balance):
        self.__account_number = account_number  # Encapsulated private attribute
        self.__balance = initial_balance        # Encapsulated private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount

    def get_balance(self):
        return self.__balance

In [47]:
savings_account = Account("AC123", 1000)

In [48]:
savings_account.deposit(500)

In [49]:
savings_account.withdraw(200)
savings_account.get_balance()

1300

# Question-3- What is abc module in python? Why is it used?

# Answer-3- The abc module in Python stands for "Abstract Base Classes." It provides the infrastructure for defining abstract base classes, which are classes that cannot be instantiated directly and are meant to be subclassed. Abstract base classes serve as blueprints for other classes and are used to define common interfaces and behaviors that subclasses must implement

In [50]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

In [51]:
circle = Circle(8)
rectangle = Rectangle(7, 12)
circle.area()

200.96

In [52]:
rectangle.height

12

In [53]:
rectangle.width

7

# Question-4-How can we achieve data abstraction?

# Answer-4-Data abstraction can be achieved in Python by using classes, where you expose only the necessary details about the data and hide the implementation details. This involves encapsulating the data and providing controlled access to it through methods. Here's how you can achieve data abstraction

In [54]:
class BankAccount:
    def __init__(self, account_number, initial_balance):
        self._account_number = account_number
        self._balance = initial_balance

    def get_account_number(self):
        return self._account_number

    def get_balance(self):
        return self._balance

    def deposit(self, amount):
        if amount > 0:
            self._balance += amount

    def withdraw(self, amount):
        if 0 < amount <= self._balance:
            self._balance -= amount
account = BankAccount("123456", 1000)

In [55]:
account.get_account_number()

'123456'

In [56]:
account.get_balance()

1000

In [57]:
account.deposit(500)
account.withdraw(200)
account.get_balance()

1300

# Question-5- Can we create an instance of an abstract class? Explain your answer.

# Answer-5- No, you cannot create an instance of an abstract class in Python. Abstract classes are meant to be used as blueprints for creating concrete subclasses. They contain abstract methods, which are methods without implementations. Abstract methods must be overridden in concrete subclasses to provide actual implementations.

# MCQ

# 1.oop’s is stand for 


# object oriented programming.


- object oriented programming pillar


- object oriented programming system


- object oriented programming principles

# Explanation: OOP’s is a programming pattern that is built around objects or entities, so it's called object-oriented programming system.

# 2.How many basic pillar in oops


3


# 4


2


5

# Explanation: there are four major pillars in oops.Inheritance, Polymorphism, Encapsulation and Abstraction.

# 3.Class is a …………. Which defines some properties and behaviours.


- instance


- member


- function


# blueprint

# Explanation: Class is a blueprint which defines some properties and behaviours.

# 4.How many types of inheritance in python


# 5


3


7


4

# Explanation: There are five types of inheritance.Single Inheritance. Multiple Inheritance. Multilevel Inheritance. Hierarchical Inheritance. Hybrid Inheritance.

# 5.what is the advantage of inheritance


- Multiple form


# inherit property


- code reusability.


- function reusability

# Explanation: When a derived class inherits the base class, then the derived class can access all the functionality, and the base class's code can be reused in the derived class.

# 1.Which among the following best defines abstraction?


# Hiding the implementation


- Showing the important data


- Hiding the important data


- Hiding the implementation and showing only the features

# Explanation: It includes hiding the implementation part and showing only the required data and features to the user. It is done to hide the implementation complexity and details from the user. And to provide a good interface in programming.

# 2.class is ___ abstraction.


- Object


# Logical


-Real


- Hypothetical

# Explanation: Class is logical abstraction because it provides a logical structure for all of its objects. It gives an overview of the features of an object

# 3.Which among the following can be viewed as combination of abstraction of data and code.


# class


- object


- inheritance


- interfaces

# Explanation: Class in object-oriented programming is a blueprint or template for creating objects. It defines the data (attributes or properties) and behavior (methods) that the objects created from that class will have. By combining abstraction of data and code, a class provides a way to group related data and functionality into a single, logical unit.

# 4.Encapsulation and abstraction differ as


- Can be used any way


- Hiding and Binding respectively


# Binding and Hiding respectively


Hiding and hiding respectively

# Explanation: Encapsulation is data binding, as in, we try to combine a similar type of data and functions together.Abstraction is hiding the complex code.

# 5.Hiding the implementation complexity can


- Provide better features


- Make the programming complex


- Provide more number of features


# Make the programming easy

# Explanation: It can make programming easy. The programming need not know how the inbuilt functions are working but can use those complex functions directly in the program. It doesn’t provide more number of features or better features.

# 6.Data abstraction is nothing but the combination of ………..


- hiding and showing


# abstract class and interface


- unnecessary information


- none of the above

# Explanation: data abstraction is nothing but the combination of abstract class and interface. We can not create the object in the abstract class and interface.

# 1.Refer the below code:

 

class Human:

def __init__(self, first_name, last_name, age):

self.first_name = first_name

self.last_name = last_name

self.age = age

 

h001 = Human(“Abhay”, “Kashyap”, 26)

# 1 In the above code which will act as the object?


- Human


# h001


- Abhay


- “Abhay”

# Explanation: Here, the Human is a class that gives the blueprint to construct the object. When the class with corresponding properties are passed into the h001 variable then the variable h001 will act as an object.

# 2.In the above code self is a ____ .


keyword


attribute


constructor


# reference to current instance to the class

# Explanation: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

# 3.Maximum how many objects can be created using a class?


- Only 2


- 1


- depends on the number of attribute in it


# Multiple 

# Explanation: The class is just a blueprint to create an object so there is no limit in creating objects using a single class. Thus, we can create multiple objects using a single class.

# 4.From the above code, which one is the constructor?


- class


- def


# __init__


- Human

# Explanation: A constructor is a unique function that helps in building an object out of a class. Here, using __init__ we are assigning values to the data members of that class.

# This is a python Tutorial for how want to become data sciencetiest